<div class="jumbotron jumbotron-fluid">
  <div id="title-container">
    <h1 id="title" class="display-4">Save any kind of movie</h1>
  </div>
</div>

<%= link_to "+ Create a new list", new_list_path%>

<div class="cards-body">
  <div class="cards-container">
    <% @lists.each do |list| %>
      <div class="b-game-card">
        <div class="b-game-card__cover" style="background-image: url(<%= asset_path 'cine_category.jpeg' %>);">
          <h1><%= list.name %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>
